

    <div class="footer">
      <div class="container">
        <b class="copyright">&copy; 2018 Kumolus - kumolus.com </b>All rights reserved.
      </div>
    </div>
   <!--  <script src="assets/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="assets/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="assets/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/jquery.flot.js" type="text/javascript"></script>
    <script src="assets/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="assets/jquery.dataTables.js" type="text/javascript"></script>
    <script src="assets/common.js" type="text/javascript"></script> -->
  </body>